/venv 
\venv
venv/
venv
*.env 
.env 
.env.local 
.env*.local 
*.env*.local 
.env.prod 
.env*.prod 
*.env*.prod 
/__pycache__ 
__pycache__ 
__pycache__/
*.pyc
project_plan.md
project_requirements.md
postman_tests.md
requirements.local.txt
celerybeat-schedule*

/project-plan
\project-plan
/project-plan/
\project-plan\
project-plan/
project-plan\

/docs
\docs
/docs/
\docs\
docs\
docs/

text.txt

celerybeat-schedule*
celerybeat-schedule/
/celerybeat-schedule